@media only screen and (min-width: 0) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
}

.page-title {
  font-size: 32px;
}

.create-board__select {
  margin-top: 35px;
}

.recipes__title,
.checklist__title,
.extra-items__title {
  font-size: 20px;
}

.extra-items__actions {
  margin-top: 20px;
}

.checklist__actions {
  margin-top: 30px;
  margin-bottom: 10px;
}

.extra-items__empty {
  cursor: pointer;
}

.extra-items__empty:hover {
  background-color: #ffffe0;
}

.button-icon-trello {
  position: relative;
  top: 4px;
  left: 7px;
  width: 20px;
}

.card-action > ul > li {
  margin-bottom: 15px;
}

.authenticate {
  margin-top: 30px;
  padding-bottom: 45px;
}

.card .card-content p.authenticate__text {
  margin-bottom: 35px;
}

.create-board {
  margin-top: 30px;
  padding-bottom: 45px;
}

.card .card-content p.create-board__text {
  margin-bottom: 35px;
}

.create-board__progress {
  margin-top: 65px;
}

[type="checkbox"].filled-in:checked+label:before,
[type="checkbox"].filled-in:checked+label:after,
[type="checkbox"].filled-in+label:before,
[type="checkbox"].filled-in+label:after,
[type="checkbox"].filled-in:not(:checked)+label:before,
[type="checkbox"].filled-in:not(:checked)+label:after {
  top: 3px;
}

.checklist__item,
.extra-items__item {
  margin-bottom: 3px;
}

.checklist__item--highlighted,
.extra-items__item--highlighted,
.recipes__item--highlighted {
  background-color: #ffffe0;
}

.checklist__item label,
.extra-items__item label {
  opacity: 0;
  animation: fadeIn .5s linear forwards;
}

.extra-items__empty,
.recipes__item,
.recipes__title,
.checklist__title,
.extra-items__title,
.authenticate,
.create-board,
.board {
  opacity: 0;
  animation: fadeIn .5s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
